<header id="dbrs-header" class="landing">
  <nav class="navbar">
    <div class="container-fluid max-width">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
        <!-- <div class="brand-copy">
          <span class="name">Insight Beyond The Rating</span>
          <span class="slogan"></span>
        </div> -->
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#">About</a></li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">About DBRS</li>
              <li><a href="#">Company Information</a></li>
              <li><a href="#">Products & Services</a></li>
              <li><a href="#">News & Events</a></li>
              <li><a href="#">Careers</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Markets<span class="caret"></span></a>
            <div class="dropdown-menu horizontal-dropdown">
              <ul class="col col-one list-unstyled">
                <li class="dropdown-header">Corporate Finance</li>
                <li><a href="#">Corporate Finance</a></li>
                <li><a href="#">Autos & Auto Suppliers</a></li>
                <li><a href="#">Consumers</a></li>
                <li><a href="#">Energy</a></li>
                <li><a href="#">Natural Resources</a></li>
                <li><a href="#">Project Finance</a></li>
                <li><a href="#">Real Estate</a></li>
                <li><a href="#">Telecom/Media/Technology</a></li>
                <li><a href="#">Transportation</a></li>
                <li><a href="#">Utilities & Independent Power</a></li>
              </ul>
              <ul class="col col-two list-unstyled">
                <li class="dropdown-header">Structured Finance</li>
                <li><a href="#">Structured Finance</a></li>
                <li><a href="#">ABCP</a></li>
                <li><a href="#">Auto ABS</a></li>
                <li><a href="#">CMBS</a></li>
                <li><a href="#">Commercial Mortgages</a></li>
                <li><a href="#">New Issues</a></li>
                <li><a href="#">Newsletters</a></li>
                <li><a href="#">Peer Comparisons</a></li>
                <li><a href="#">Performance Analytics Reports</a></li>
                <li><a href="#">Presale</a></li>
                <li><a href="#">Rating Reports</a></li>
              </ul>
              <ul class="col col-three list-unstyled">
                <li class="dropdown-header">Financial Institutions</li>
                <li><a href="#">Financial Institutions</a></li>
                <li><a href="#">Banks & Trusts</a></li>
                <li><a href="#">Credit Unions & Building Societies</a></li>
                <li><a href="#">Non Bank Financials</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Public Finance</li>
                <li><a href="#">Public Finance</a></li>
                <li><a href="#">Provinces & Municipalities</a></li>
                <li><a href="#">Universities</a></li>
                <li><a href="#">Infrastructure</a></li>
                <li><a href="#">Other</a></li>
              </ul>
            </div>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Research<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">DBRS Research</li>
              <li><a href="#">Commentaries</a></li>
              <li><a href="#">CP Reports</a></li>
              <li><a href="#">Governance & Regulatory Affairs</a></li>
              <li><a href="#">Industry Studies</a></li>
              <li><a href="#">Monthly Reports</a></li>
              <li><a href="#">New Issues</a></li>
              <li><a href="#">Newsletters</a></li>
              <li><a href="#">Peer Comparisons</a></li>
              <li><a href="#">Performance Analytics Reports</a></li>
              <li><a href="#">Presale</a></li>
              <li><a href="#">Rating Reports</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ratings & Methodologies <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Ratings Information</li>
              <li><a href="#">Rating Index</a></li>
              <li><a href="#">Rating Studies</a></li>
              <li><a href="#">Rating Scales</a></li>
              <li><a href="#">Rating Policies</a></li>
              <li><a href="#">Rating Process Overview</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Methodologies</li>
              <li><a href="#">All Methodologies</a></li>
              <li><a href="#">Archived Methodologies</a></li>
              <li><a href="#">Related Models</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Regulatory Affairs</li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Global Regulatory Affairs</a></li>
              <li><a href="#">Rating Process Overview</a></li>
              <li><a href="#">Rating Policies</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Legal</li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Proprietary Rights</a></li>
              <li><a href="#">Disclaimers</a></li>
            </ul>
          </li>
        </ul>
        <!-- <ul class="nav navbar-nav navbar-right">
          <li class="login"><a href="#" class="login">Login</a></li>
          <li><a href="#" class="register">Register</a></li>
        </ul> -->
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <!-- <div class="search-bar-wrapper">
    <div class="container-fluid max-width">
      <div class="search-bar">
        <span class="temp-search-text">Search By: Company, Issuer, Industry, Debt, Research etc.</span>
        <span class="helper-text pull-right">Press enter</span>
      </div>
    </div>
  </div> -->
</header>
